<p>
  manage-sports works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Sports</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <p>Choose a sport</p>
          <select [(ngModel)]="currentSportId">
              <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name}}</option>
           </select>
           <button type="button" class="btn btn-default" (click)="chooseSport()">Select</button>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <p>Add a sport</p>
            <input #newSport
            (keyup.enter)="addSport(newSport.value)" />
            <button type="button" class="btn btn-default" (click)="addSport(newSport.value)">Add</button>
        </div>
      </div>

</div>
